/*
Primary: #0A0D1F //dark  blue
Secondary #D33F49 // red
Terciary  #D7C0D0
Alert #EFF0D1
Ok #77BA99
Golden: rgb(179, 110, 27)
light-golden: rgb(232, 230, 160)
*/

body {
  color: white;
  background-color: hsl(231deg, 50%, 8%);
}

#title {
  text-align: center;
  font-size: 6rem;
  font-family: Times;
  font-style: italic;
  margin-bottom: 0;
  color: #d33f49;
  text-shadow: 2px 2px #e9b44c;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#hash-input {
  position: relative;
  text-align: center;
}

#text-input-div {
  display: grid;
  position: relative;
  text-align: center;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  /*! justify-content: center; */
  justify-items: center;
  /*! align-self: center; */
}

.input {
  min-width: 400;
  padding-left: 1rem;
  padding-bottom: 3px;
  color: #ffff;
  background-color: hsl(231, 47%, 24%);
  border-radius: 20px;
  border-color: transparent;
  transition: all 0.2s ease-in, font-size 0s linear, opacity 0s linear;
}

.input.file {
  opacity: 0%;
  min-width: 500;
  height: 13rem;
  font-size: 1rem;
  text-align: center;
  /*outline: 2px dashed #D33F49;
  outline-offset: -10px;*/
  box-shadow: 2px #D33F49;
  padding-left: 0;
}

.input.file::file-selector-button {
  position: relative;
  scale: 461%;
  width: 20%;
  /*! appearance: none; */
  /*! background-color: #20295a; */
  /*! border-radius: 10px; */
  /*! border-color: transparent; */
  top: 45%;
  left: 18%;
  /*! color: white; */

}

.input-container.file {
  transition: all 0.2s ease-in;
  background-color: #20295a;
  width: 30%;
  outline: 2px dashed #D33F49;
  outline-offset: -20px;
  /* I'd like to be -10px, but in webkit doesn't work.
                            The bug is even reported 14 years ago and is still
                            unresolved... 
                            https://bugs.webkit.org/show_bug.cgi?id=20807*/
  border-radius: 30px;
}

.input-container.file:before {
  position: absolute;
  width: 35%;
  height: 96%;

  background-color: #20295a;
  outline: 2px dashed #D33F49;
  outline-offset: -20px;
}

#input-file-msg {
  position: absolute;
  font-size: 2.2vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  word-wrap: normal;
  top: 40.4%;
  left: 38.5%;
  max-width: 23vw;
}

.input.text {
  height: 3rem;
  font-size: 2rem;
}

#text_input::hover {
  outline: solid;
  outline-color: #d33f49;
  outline-style: auto;
}

#text_input::placeholder {
  font-style: italic;
  font-size: 1.5rem;
}

.donate_div {
  position: fixed;
  background-color: #D33F49;
  top: 0;
  right: 0;
  padding: 10px
}

.donate_div span {
  position: relative;
  top: -8px;
  padding: 0px 5px 5px 5px;
  font-size: 1.1rem;
  font-family: Verdana
}

.donate_div img {
  top: 20px;
  height: 30px;
  padding: 0px 0px 0px 10px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(278deg) brightness(103%) contrast(102%);
  /* Thanks to https://codepen.io/sosuke/pen/Pjoqqp */
}

#selector_div_flex {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
}

#hash_type {
  font-size: 2rem;
  min-width: 160px;
  height: 50px;
  background: #20295a;
  color: white;
  font-family: "Calibri";
  border-radius: 30px;
  border-color: Transparent;
  padding-left: 1rem;
  padding-top: 4;
  appearance: none;
}

#hash_type::hover {
  outline: solid;
  outline-color: #d33f49;
  outline-style: auto;
}

.lds-ripple {
  /* Set display to "inline" or "block" if you want to show this*/
  left: -10px;
  top: -7px;
  scale: 0.5;
  opacity: 50%;
  padding-bottom: 0px;
}

#submit_button_div {
  position: relative;
  text-align: center;
  appearance: none;
  margin-left: 10px;
  width: auto;
  height: auto;
}

#submit_button_div:hover {
  top: 2px;
  left: 2px;
}

#submit_button_text {
  width: 143px;
  height: 49px;
  font-size: 2rem;
  font-style: italic;
  background: #20295a;
  color: white;
  font-family: Times;
  border: transparent;
  border-radius: 30px;
  box-shadow: 2px 2px orange;
}

#submit_button_text:hover {
  background: #d33f49;
  box-shadow: 0px 0px orange;
}

#hash_text_output_div {
  text-align: center;
  margin-top: 11px;
}

#hash_output_text {
  display: inline-block;
  min-width: 308px;
  max-width: 712px;
  height: 3rem;
  padding-left: 1rem;
  padding-bottom: 3px;
  color: #ffff;
  background-color: hsl(231, 47%, 24%);
  border-radius: 20px;
  border-color: transparent;
  padding-right: 11px;
  padding-top: 8px;
  overflow: scroll;
  word-break: normal;
  /*! box-shadow: inset 0 0 3px #000000; */
  font-family: monospace;
  font-size: 1.98rem;
}

#hash_output_text::-webkit-scrollbar {
  display: none;
}

/* FLOATNG MESSAGE: https://kruxor.com/view/code/GbiHX/floating-message-box-on-bottom-right-of-screen-with-close-button/#! */
.float-message {
  position: fixed;
  z-index: 1001;
  min-width: 300px;
  max-width: 400px;
  bottom: 20px;
  right: 20px;
  padding: 30px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 5px;
  background: rgb(133, 15, 15);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.float-message-inner {
  position: relative;
}

.close-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  top: -30px;
  right: -15px;
  font-size: 18px;
  font-family: sans-serif;
}

#float-message-text {
  font-weight: bold;
  font-family: Arial;
}